* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

header {
    background-color: #000;
    
}

.page-header {
    display: flex;
    justify-content: center;
    padding: 28px 0 28px;
}

.header-logo {
    display: block;
}

.main-banner-desktop, 
.main-banner-mobile {
    width: 100%;
    display: block;
}

@media screen and (min-width: 414px) {
    .main-banner-mobile {
        display: none;
    }
}

@media screen and (max-width:415px) {
    .main-banner-desktop {
        display: none;

    }
    
}

.top-infocard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.infocard-text {
    max-width: 766px;
    text-align: center;
    padding-top: 66px;
}


@media screen and (max-width: 915px) {
    .infocard-text {
        padding: 84px 26px 67px;
    }
}


.top-subtitle {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 400;
}

.top-title {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 500;
    line-height: 47px;  
}

.top-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-top: 6px;
}

@media screen and (max-width: 515px) {
    .top-subtitle {
        font-size: 20px;
    }

    .top-title {
        font-size: 28px;
        line-height: 30px;
    }

    .top-description {
        padding-top: 19px;
        max-width: 357px;
        
    }
    
}

.infocard-image {
    margin-top: 65px;
}



.top-cards {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    gap: 20px;
    margin-top: 187px;   
    margin-bottom: 80px;
    
}

.top-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 432px;
    gap: 20px;
    margin-top: 74px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
    padding: 35px 26px 27px;
}

.top-card-description {
   max-width: 299px;
   text-align: center;
   font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

@media screen and (max-width: 424px) {
    .infocard-image {
        padding: 67px 87px 88px 80px;
        margin-top: 0;
        max-width: 100%;
    }
    
    .infocard-text {
        padding-bottom: 0px;
    }
    
    .top-cards {
        margin-top: 0px;
        margin-left: 32px;
        margin-right: 31px;
    }
    
    .top-cards {
        gap: 24px;
        
    }
}

@media screen and (max-width: 780px) {
    .top-cards {
        display: flex;
        flex-direction: column;
        margin-left: 23px;
        margin-right: 23px;
        align-items: center;
    }

}

@media screen and (max-width: 1274px) {
    .top-card {
        margin-top: 0;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    .top-cards {
        grid-template-columns: repeat(2, max-content);
    }
    
}

.middle-section {
    background: #E0E0E0;
    margin-top: 80px;
    height: 442px;
}

.middle-image-items {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 63px 138px;
    
}

.middle-image {
    max-width: 556px;
}

@media screen and (max-width: 600px) {
    .middle-image-items {
        flex-direction: column;
    }
    
}

    .banner-middle-wrap {
        padding: 0px 62px 0px 62px;
        background-color: #e0e0e0;
        max-width: 100%;
      }
      
      .container-middle-wrap {
        display: grid;
        grid-template-columns: repeat(3, max-content);
        gap: 32px;
        justify-content: center;
        max-width: 1732px;
        margin: 0 auto;

      }
      
      .banner-middle {
        position: relative;
        top: 100px;
        
    }

    .banner-middle {
        max-width: 556px;
    }

@media screen and (max-width: 1850px) {
     .container-middle-wrap {
         display: flex;
         flex-wrap: wrap; 
         flex-direction: column;
         justify-content: center;
         align-items: center;
         max-width: 100%;
        } 

        .flex-middle-desktop {
            display: flex;
            flex-direction: row;
            gap: 32px;
        }
    
      .cards-bottom-wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
        justify-content: center;
        margin: 220px auto 0px auto;
      }

      .banner-middle banner-middle03 {
        width: 1149px
      }
      
}

@media screen and (max-width: 414px) {
    .container-middle-wrap {
        display: none;
    }
    
    .container-middle-mobile {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
        align-items: center;
        gap: 24px;
        max-width: 368px;
        margin: 0 auto;
    }

    .banner-middle-mobile {
        max-width: 177px;
        display: block;
    } 
    
}

@media screen and (min-width: 1209px) {
    .container-middle-mobile {
        display: none;
    }
    
}

.bottom-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 142px; 
    padding: 138px 72px 138px; 
    gap: 16px;

}

.bottom-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 432px;
    gap: 14px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
    padding: 35px 32px 66px;
    
}

.bottom-card-description {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}

@media screen and (max-width: 950px) {
    .bottom-card {
        max-width: 368px;
    }

    .bottom-card-description {
        font-size: 14px;

    }
}

@media screen and (min-width: 1028px) and (max-width: 1476px) {
    .bottom-cards {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1028px) {
    .bottom-cards {
        flex-direction: column;
    }
}

@media screen and (max-width: 616px) {
    .bottom-cards {
        flex-direction: column;
        flex-wrap: none;
        padding: 80px 23px 80px;
    }
    
}

.bottom-infocard-text {
    max-width: 550px;
    text-align: center;
    padding: 32px 32px;
}

.bottom-infocard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.bottom-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 20px;
    padding-bottom: 18px;
}

.bottom-image {
    padding: 32px 0px 104px;
}

@media screen and (max-width: 414px) {
    .bottom-text {
        max-width: 350px;
    }

    .footer-text {
        max-width: 264px;
    }
}

@media screen and (max-width: 1357px) {
    .bottom-image {
        width: 100%;
    }
    
}

.bottom-image-mobile {
    width: 100%;
    display: block;
}

@media screen and (max-width: 414px) {
    .bottom-image {
        display: none;
    }

    .bottom-revert {
        display: flex;
        flex-direction: column-reverse;
    }

    .flex-middle {
        display: flex;
        gap: 14px;
    }

    .container-middle-mobile {
        position: relative;
        top: 75px;
        height: 484px;
    }
    
}

@media screen and (min-width: 415px) {
    .bottom-image-mobile {
        display: none;
    }

    .flex-middle {
        display: none
    }

    .banner-middle-mobile-full {
        display: none
    }

    

}

@media screen and (max-width: 496px) {
    .bottom-title {
        font-weight: 600;
        font-size: 24px;
        line-height: 20px;
    }

    .bottom-infocard-text {
        max-width: 100%;
        padding: 51px 31px 104px;
    }

    .container-middle-mobile {
        display: flex;
        flex-direction: column;
        gap: 14px;
        /* padding: 0px 23px 23px 80px; */
    }

    /* .flex-middle {
        display: flex;
        gap: 14px;
    } */
}

@media screen and (min-width: 415px) and (max-width: 712px) {
     .banner-middle-wrap {
        padding-left: 23px;
        padding-right: 23px;
    } 

    .banner-middle {
        max-width: 100%;
    }

}

footer {
    background: #000;
    
}

.footer-items {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 38px;
    
}

.social-media {
    display: flex;
    align-items: center;
    gap: 16px;
    list-style: none;
}

.footer-text {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #BDBDBD;
    text-align: center;
    padding-top: 16px;
}

.footer-items {
    padding-bottom: 38px;
}

@media screen and (max-width: 833px) {
    .bottom-image {
        width: 100%;
    }
    
}

